@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");

body {
  display: block;
  min-height: 100%;
  font-size: 16px;
}

hr {
  margin: 0.5rem auto;
  border-top: 1px solid #8f7878;
}

body:before {
  /* background */
  background-image: url("https://i.loli.net/2021/08/31/CTLqxk1gSnEO63b.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 16%;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0%;
  content: "";
  z-index: -1;
}

/* header */

header {
  height: 12%;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-container a {
  margin: auto 2%;
}

.header-container a .icon {
  border-radius: 100%;
}

.header-container .web-title {
  margin: 0 auto;
  font-size: 24px;
  font-family: "ZCOOL KuaiLe", cursive;
}

.header-container .grow-bar {
  flex-grow: 1;
}

.header-container .search-bar {
  margin-right: 2%;
  height: 35%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  padding: 0.4rem 1.5rem;
  background-color: aliceblue;
  border-radius: 20px;
}

.header-container .search-bar #sel {
  background-color: aliceblue;
  border: none;
  font-size: 16px;
  text-align-last: center;
  padding: 2%;
}

.header-container .search-bar #sel:focus {
  outline: none;
}

.header-container .search-bar #in {
  margin-right: 1%;
  padding: 0.2rem 1rem;
  border: none;
  background-color: aliceblue;
  height: 2rem;
  font-size: 16px;
}

.header-container .search-bar #in:focus {
  outline: none;
}

.header-container .search-bar i {
  cursor: pointer;
}

/* Footer */

footer {
  height: 12%;
}

.footer-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.footer-container .copyright {
  text-align: center;
  margin: 0 auto 0.3rem;
  font-size: large;
  font-style: italic;
  font-family: Georgia, serif;
}

.footer-container .copyright a {
  text-decoration: none;
  color: rgb(45, 164, 233);
}

.footer-container .power {
  margin: 0 auto;
  margin-top: 0.2rem;
  color: gray;
  font-family: "Times New Roman", Times, serif;
}

/* main */

main {
  min-height: calc(80vh);
}

#page-input {
  font-size: 16px;
  width: 4rem;
  height: 2.1rem;
  border: none;
  text-align: center;
  border-bottom: 1px black solid;
}

td {
  padding: 0.3rem;
}

.login {
  position: absolute;
  left: 35%;
  right: 35%;
  top: 20%;
  bottom: 40%;
  background-color: rgba(255,255,255,0.4);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 3rem;
}

.broadcast {
  position: absolute;
  left: 35%;
  right: 35%;
  top: 65%;
  bottom: 15%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 3rem;
}

.broadcast .p {
  text-align: center;
}